---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

If you want to book a slot for a meeting with me during the office hour, please use the calendar <a href="https://zhengtxecon.github.io//teaching/office_hour">here</a>.

<iframe src='https://outlook.office365.com/owa/calendar/TianxiangZhengOfficeHour@live.ucl.ac.uk/bookings/' width='100%' height='1950px' style='border:0'></iframe>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
